/* Add CSS Styling */
.oddnum {
    background-color: pink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#div2 {
    font-size: 36px;
    color: blue;
}

.p3 {
    font-size: 24px;
}

#div4 {
    font-weight: bold;
    background-color: lightgreen;
    font-size: 24px;
}