/* Add CSS Styling */
.btn1,
.btn2 {
    font-size: 28px;
    font-family: helvetica, sans-serif, 'Times New Roman';
}

.btn1 {
    background-color: black;
    color: white;
}

.btn2 {
    background-color: yellow;
}